body{
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

.container{
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

input[type="submit"]{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: darkblue;
}

.resultado{
    margin-top: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}

.erro{
    color: red;
}

.sucesso{
    color: green;
}